{% extends 'reminder/base.html' %}
{% block index_active %}active{% endblock %}

{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-1 col-md-4">
				<div class="row" style="text-align: center;">
					{% if message %}
						<p><strong>{{ message }}</strong></p>
					{% endif %}
				</div>
				<div class="box">
					<form role="form" action="" method="post">
						{% csrf_token %}	
						<div class="row send" style="text-align: center;">									
							<p><strong>User Registration</strong></p>									
						</div>						    
						{% for field in form %}
							<div class="row form-group" style="margin-left: 15px;">
								<label class="control-label col-md-4" for="{{ field.name }}">{{ field.label_tag }}</label>
								<div class="col-md-8">{{ field }}</div>
							</div>
						{% endfor %}
						<div class="form-group row"> 
							<div class="col-md-offset-5 col-md-12">
								<button type="submit" class="btn btn-success">Submit</button>
						    </div>
						</div>				
					</form>
				</div>
			</div>		
		</div>
{% endblock %}